:root {
  --mui-palette-primary-main: #1976d2;
  --mui-palette-primary-light: #42a5f5;
  --mui-palette-primary-dark: #1565c0;
  --mui-palette-primary-contrastText: #fff;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  overflow: auto;
}
body:has(#studioMapa) {
  overflow: hidden;
}

.leaflet-speeddial {
  border: none !important;
}
.leaflet-speeddial-full-width {
  width: 100% !important;
}

.image-overlay-subjx {
  pointer-events: auto !important;
}

.sjx-hdl {
  cursor: pointer;
}

#studioMapa .MuiSpeedDialAction-staticTooltipLabel {
  width: max-content;
}

.currentTime {
  background-color: red !important;
  width: 3px !important;
}

form > * {
  margin-top: 15px !important;
}
form > *:first-child {
  margin-top: 0px;
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control.leaflet-timeline-control {
  width: 96%;
  box-sizing: border-box;
  margin: 2%;
  margin-bottom: 20px;
  text-align: center;
}
.leaflet-control.leaflet-timeline-control * {
  vertical-align: middle;
}
.leaflet-control.leaflet-timeline-control input[type="range"] {
  width: 80%;
}
.leaflet-control.leaflet-timeline-control .sldr-ctrl-container {
  float: left;
  width: 15%;
  box-sizing: border-box;
}
.leaflet-control.leaflet-timeline-control .button-container button {
  position: relative;
  width: 20%;
  height: 20px;
}
.leaflet-control.leaflet-timeline-control .button-container button::before,
.leaflet-control.leaflet-timeline-control .button-container button::after {
  content: "";
  position: absolute;
}
.leaflet-control.leaflet-timeline-control
  .button-container
  button.play::before {
  border: 7px solid transparent;
  border-width: 7px 0 7px 10px;
  border-left-color: black;
  margin-top: -7px;
  background: transparent;
  margin-left: -5px;
}
.leaflet-control.leaflet-timeline-control .button-container button.pause {
  display: none;
}
.leaflet-control.leaflet-timeline-control
  .button-container
  button.pause::before {
  width: 4px;
  height: 14px;
  border: 4px solid black;
  border-width: 0 4px;
  margin-top: -7px;
  margin-left: -6px;
  background: transparent;
}
.leaflet-control.leaflet-timeline-control .button-container button.prev::before,
.leaflet-control.leaflet-timeline-control .button-container button.prev::after {
  margin: -8px 0 0;
  background: black;
}
.leaflet-control.leaflet-timeline-control
  .button-container
  button.prev::before {
  width: 2px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
}
.leaflet-control.leaflet-timeline-control .button-container button.prev::after {
  border: 7px solid transparent;
  border-width: 7px 10px 7px 0;
  border-right-color: black;
  margin-top: -7px;
  margin-left: -5px;
  background: transparent;
}
.leaflet-control.leaflet-timeline-control .button-container button.next::before,
.leaflet-control.leaflet-timeline-control .button-container button.next::after {
  margin: -8px 0 0;
  background: black;
}
.leaflet-control.leaflet-timeline-control
  .button-container
  button.next::before {
  width: 2px;
  height: 14px;
  margin-top: -7px;
  margin-left: 5px;
}
.leaflet-control.leaflet-timeline-control .button-container button.next::after {
  border: 7px solid transparent;
  border-width: 7px 0 7px 10px;
  border-left-color: black;
  margin-top: -7px;
  margin-left: -5px;
  background: transparent;
}
.leaflet-control.leaflet-timeline-control.playing button.pause {
  display: inline-block;
}
.leaflet-control.leaflet-timeline-control.playing button.play {
  display: none;
}

#parentSeletorResize:active,
.borda-seletora-ativa {
  background: var(--mui-palette-primary-main) !important;
}

.group-frame {
  position: relative;
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  .title {
    position: absolute;
    top: -13px;
    left: 10px;
    background: white;
    padding: 0 5px;
  }
}

.tabPanel-propriedades {
  .MuiFormControl-root {
    padding-top: 1vw;
  }
  .MuiFormLabel-root {
    top: 1vw;
  }
}

#exemplos {
}

.mt-4 {
  margin-top: 4px;
}
